<div class="mini-panel">
	<div class="inner"><span class="corners-top"><span></span></span>
       <h3>{L_BLOG_TAGCLOUD}</h3>
        <!-- IF .tagrow -->
        	<ul class="menu">
            <!-- BEGIN tagrow -->
                    <li><a href="{tagrow.U_TAG}" title="{tagrow.NUM}">{tagrow.TAG}</a></li>
            <!-- END tagrow -->
            </ul>
        <!-- ELSE -->
            <center>{L_NO_TAGS}</center>
        <!-- ENDIF -->
    <span class="corners-bottom"><span></span></span></div>
</div>