<!-- INCLUDE overall_header.html -->

<!-- IF S_BLOG_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
	<div id="information" class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_INFORMATION}:</strong> {BLOG_DISABLED}
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

    <div id="main">
        <h2 style="color:#000000;"><!-- IF S_ACTION eq 'cat' -->{CAT_TITLE}
            <!-- ELSEIF S_ACTION eq 'view' -->{BLOG_TITLE}
            <!-- ELSEIF S_ACTION eq 'tag' -->{TAG}
            <!-- ELSE -->{OVERALL_BLOG_TITLE}<!-- ENDIF --></h2>
            <p><!-- IF S_ACTION eq 'cat' -->{CAT_DESC}
            <!-- ELSEIF S_ACTION eq 'view' -->{BLOG_DESC}
            <!-- ELSEIF S_ACTION eq 'tag' -->&nbsp;
            <!-- ELSE -->{OVERALL_BLOG_DESC}<!-- ENDIF --></p>
            <!-- IF S_RSS_ENABLED --><div style="float:left;"><a href="{U_BLOG_FEED}"><img src="{T_THEME_PATH}/images/feed.gif" alt="" /></a></div><br style="clear: both;" /><!-- ENDIF -->
        <!-- IF S_NEW_POST -->
            <div class="buttons"><div class="post-icon" title="{L_NEW_POST}">
                <a href="{U_NEW_POST}"><span></span>{L_NEW_POST}</a>
            </div></div>
        <!-- ENDIF -->
        <br style="clear: both;" />
        <div style="float:left;<!-- IF not S_CAT_ENABLED and not S_TAGCLOUD_ENABLED -->width:100%;<!-- ELSE -->width:70%;<!-- ENDIF -->">
        <!-- IF not S_ACTION eq 'view' -->
        <ul class="linklist">
            <li class="rightside pagination">{TOTAL_BLOGS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
        </ul>
        <!-- ENDIF -->
        <!-- IF S_ACTION eq 'index' -->
            <!-- INCLUDE blog_body.html -->
        <!-- ELSEIF S_ACTION eq 'cat' -->
            <!-- INCLUDE blog_cat_body.html -->
        <!-- ELSEIF S_ACTION eq 'view' -->
            <!-- INCLUDE blog_view_body.html -->
        <!-- ELSEIF S_ACTION eq 'tag' -->
            <!-- IF S_TAGCLOUD_ENABLED -->
                <!-- INCLUDE blog_tag_body.html -->
            <!-- ELSE -->
                <!-- INCLUDE blog_body.html -->
            <!-- ENDIF -->
        <!-- ELSE -->
            <!-- INCLUDE blog_body.html -->
        <!-- ENDIF -->
        </div>
    </div>
    <div id="extras">
        <!-- IF S_CAT_ENABLED -->
            <!-- INCLUDE cat_menu.html -->
        <!-- ENDIF -->
        <!-- IF S_TAGCLOUD_ENABLED -->
                <!-- INCLUDE tag_cloud.html -->
        <!-- ENDIF -->
    </div>
    <br style="clear: both;" />
    <!-- You may alter the following copyright text, but you must leave the link intact. -->
            {L_BLOG_COPYRIGHT}<br style="clear: both;" />

   <!-- INCLUDE overall_footer.html -->