/* phpBB Blog MOD
---------------------------------------- */

#main a, #main-extra a {
	text-decoration: underline;
}
#main a.no-underline, #main-extra a.no-underline {
	text-decoration: none;
}
#main .pagination a {
	text-decoration: none;
}
#main h3 a, #main-extra h3 a {
	color: #d21a4e;
}
#main h3, #main-extra h3 {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-transform: none;
	color: #d21a4e;
	border-bottom: none;
}
#main h3 span, #main-extra h3 span {
	color: #222222;
}
#main .panel h3, #main-extra .panel h3 {
	border-bottom:1px solid #CCCCCC;
	color:#115098;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.05em;
	font-weight:bold;
	padding-bottom:2px;
	text-transform:uppercase;
	margin:0.5em 0pt;
}
/* Extras column */
#extras {
	width: 260px;
	float: right;
}

dl.extra-box {
	display: block;
	width: 260px;
	height: 77px;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-bottom: 5px;
}
dl.extra-box dt a {
	font-weight: bold;
	display: block;
	padding: 10px 0 5px 10px;
	color: #333333 !important;
	text-decoration: none !important;
}
dl.extra-box dd a, dl.download-contrib dd {
	font-weight: bold;
	display: block;
	color: #FFFFFF !important;
	padding-left: 10px;
	padding-right: 50px;
	text-decoration: none !important;
}
dl.extra-box dd.fileformat {
	padding-left: 10px;
	padding-top: 5px;
}
dl.extra-box dd.fileformat label {
	color: #FFF;
}
dl.extra-box dt a:hover {
	text-decoration: none;
	color: #000000 !important;
}
div.mini-panel {
	padding: 0 10px;
	background-color: #ebebeb;
	margin-bottom: 5px;
}
div.mini-panel h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 5px 0 0 0;
	font-weight: bold;
	color: #333333;
}
div.mini-panel p {
	font-size: 1em;
	margin: 3px 0;
}
div.mini-panel span.corners-top,
div.mini-panel span.corners-bottom {
	margin: 0 -10px;
}
#extras h3 a {
	color: #333333;
}
/* Menu  listing */
ul.menu {
	border-top: 1px solid #FFFFFF;
	list-style: none;
}
ul.menu li {
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #CCCCCC;
	margin: 0;
}
ul.menu li.last {
	border-bottom: none;
}
